# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Run Test On Develop

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - name: Start Xcode Build 
      run: |
        xcodebuild clean test -project Macro.xcodeproj -scheme Macro -destination 'platform=iOS Simulator,name=iPhone 15 Pro,OS=latest'
